{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Historial de Gastos</title>
    <link rel="stylesheet" href="{% static 'historialGastos.css' %}">

</head>
<body>
    <h1>Historial de Gastos</h1>
    <a href="{% url 'home' %}"><button>Volver</button></a>
    
    <form method="get" action="{% url 'historial-gastos' %}">
        <label for="titulo">Título:</label>
        <input type="text" id="titulo" name="titulo" value="{{ request.GET.titulo }}">
        
        <label for="categoria">Categoría:</label>
        <select id="categoria" name="categoria">
            <option value="">Seleccionar categoría</option>
            {% for categoria in categorias %}
                <option value="{{ categoria.id_categoria }}" {% if categoria.id_categoria == request.GET.categoria %}selected{% endif %}>{{ categoria.nombre_categoria }}</option>
            {% endfor %}
        </select>
    
        <label for="fecha">Fecha:</label>
        <input type="date" id="fecha" name="fecha" value="{{ request.GET.fecha }}">
    
        <label for="monto">Monto:</label>
        <input type="text" id="monto" name="monto" value="{{ request.GET.monto }}">
    
        <button type="submit">Filtrar</button>
    </form>
    
    <div>
        <h3>Historial de Gastos</h3>
        {% if gastos %}
            <table>
                <thead>
                    <tr>
                        <th>Título</th>
                        <th>Categoría</th>
                        <th>Monto</th>
                        <th>Fecha</th>
                        <th>Descripción</th>
                    </tr>
                </thead>
                <tbody>
                    {% for gasto in gastos %}
                        <tr>
                            <td>{{ gasto.titulo }}</td>
                            <td>{{ gasto.categoria.nombre_categoria }}</td>
                            <td>{{ gasto.monto }}</td>
                            <td>{{ gasto.fecha }}</td>
                            <td>{{ gasto.descripcion }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No hay gastos que coincidan con los filtros.</p>
        {% endif %}
    </div>
    <!-- Botones para exportar -->
<a href="{% url 'exportar-historial-a-excel' %}?titulo={{ request.GET.titulo }}&categoria={{ request.GET.categoria }}&fecha={{ request.GET.fecha }}">Exportar a Excel</a>
<a href="{% url 'exportar-historial-a-pdf' %}?titulo={{ request.GET.titulo }}&categoria={{ request.GET.categoria }}&fecha={{ request.GET.fecha }}">Exportar a PDF</a>    
</body>
</html>
