<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container-main">
        <div class="container-1">
            <div class="container-graf"><img src="../static/images/grafic.svg"/></div>
            <div class="container-dates"><img src="../static/images/dates.svg"/></div>
        </div>
    
        <div class="container-2">
            <!--########################################### GASTOS FIGMA #####################################################-->
            <div class="container-spenses">
                <div class="spenses-title">
                    <h1>Gastos</h1>
                    <a class="link" href="{% url 'nuevo-gasto' %}"><button>+</button></a>
                </div>
    
                <div class="container-list-spenses">
                    <ul class="list-spenses">
                        {% for gasto in gastos %}
                        <li class="element-spenses">
                            <div class="title-hour-spenses">
                                <label>{{ gasto.titulo }}</label>
                                <span>{{ gasto.fecha|date:"d/m/Y H:i A" }}</span>
                            </div>
                            <p>{{ gasto.descripcion }}</p>
                            <h3>${{ gasto.monto|floatformat:0 }}</h3>
                            <!-- Botón de eliminar -->
                            <a href="{% url 'eliminar-gasto' gasto.id_gasto %}" class="btn-delete">Eliminar</a>
                        </li>
                        {% empty %}
                        <li>No tienes gastos registrados.</li>
                        {% endfor %}
                    </ul>
                </div>
                
                
            </div>

            <!--############################################ PRESUPUESTOS FIGMA ###############################################-->
            <div class="container-list-spenses">
                <ul class="container-categories">
                    {% for presupuesto in presupuestos %}
                    <li class="container-category">
                        <div>
                            <span>Presupuesto Disponible</span>
                            <span>{{ presupuesto.categoria.nombre_categoria }}</span>
                        </div>
                        <h3>${{ presupuesto.presupuesto_restante|floatformat:0 }}</h3> <!-- Mostramos el presupuesto restante -->
                    </li>
                    {% empty %}
                    <li>No tienes presupuestos registrados.</li>
                    {% endfor %}
                </ul>
            </div>
            
        </div>
    </div>
</body>
</html>
