<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    
    <div class="container-main">
        <div class="container-1">

            <div class="container-graf">
                {% for presupuesto in presupuestos %}
                    <div class="graf-item">
                        <div class="graf-bar-container">
                            <div class="presupuesto-bar" data-presupuesto="{{ presupuesto.limite_presupuesto }}"></div>
                            <!-- Barra de gasto -->
                            <div class="gasto-bar" gasto_data="{{ presupuesto.gasto_total }}" data-presupuesto="{{ presupuesto.limite_presupuesto }}"></div>
                        </div>
                        <p class="graf-info">{{presupuesto.categoria.nombre_categoria}}</p>
                    </div>
                {% endfor %}
            </div>

            <div class="container-dates">
                <div class="calendar">
                    <div class="calendar-header">
                        <div>
                            <button id="prev-month" class="month-button">Anterior</button>
                            <span id="month-name"></span>
                            <button id="next-month" class="month-button">Siguiente</button>
                        </div>
                        <div><button id="clear-filter" class="btn-clear-filter">Borrar Filtro</button></div>
                    </div>
                    <div class="calendar-days" id="calendar-days">
                    </div>
                </div>
            </div>

        </div>
    
        <div class="container-2">
            <!--########################################### GASTOS FIGMA #####################################################-->
            <div class="container-spenses" id="gastos-list">
                <div class="spenses-title">
                    <h1>Gastos</h1>
                    <a class="link1" href="{% url 'nuevo-gasto' %}"><button>+</button></a>
                    <a class="link2" href="{% url 'historial-gastos' %}"><button>&#x1F4DA;</button></a>
                </div>
                {% include "mensajes.html" %}
                <div class="container-list-spenses">
                    <ul class="list-spenses" id="gastos-list-ul">
                        {% for gasto in gastos %}
                        <li class="element-spenses" data-fecha="{{ gasto.fecha|date:'Y-m-d' }}">
                            <div class="title-hour-spenses">
                                <label>{{ gasto.titulo }}</label>
                                <span>{{ gasto.fecha|date:"d/m/Y H:i A" }}</span>
                            </div>
                            <p>{{ gasto.descripcion }}</p>
                            <h3>${{ gasto.monto|floatformat:0 }}</h3>
                            <!-- Botón de eliminar -->
                            <a href="{% url 'eliminar-gasto' gasto.id_gasto %}" class="btn-delete">Eliminar</a>
                        </li>
                        {% empty %}
                        <li>No tienes gastos registrados.</li>
                        {% endfor %}
                    </ul>
                </div>
                
            </div>

            <!--############################################ PRESUPUESTOS FIGMA ###############################################-->
            <div class="container-list-spenses">
                <ul class="container-categories">
                    {% for presupuesto in presupuestos %}
                    <li class="container-category">
                        <div>
                            <span>Presupuesto Disponible</span>
                            <span>{{ presupuesto.categoria.nombre_categoria }}</span>
                        </div>
                        <h3>${{ presupuesto.presupuesto_restante|floatformat:0 }}</h3> <!-- Mostramos el presupuesto restante -->
                    </li>
                    {% empty %}
                    <li>No tienes presupuestos registrados.</li>
                    {% endfor %}
                </ul>
            </div>
            
        </div>
    </div>
    
    <script src="{% static 'js/mensajes.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Modificar las barras de presupuesto
            document.querySelectorAll('.presupuesto-bar').forEach(function(bar) {
                let porcentaje = bar.getAttribute('data-presupuesto');
                if (porcentaje) {
                    bar.style.height = 160 + 'px';
                }
            });

            // Modificar las barras de gasto
            document.querySelectorAll('.gasto-bar').forEach(function(bar) {
                let presupuesto = bar.getAttribute('data-presupuesto');
                let gastos = bar.getAttribute('gasto_data');
                let barra = (gastos * 160) / presupuesto;
                if (presupuesto) {
                    bar.style.height = barra + 'px';
                }
            });

            // Función para mostrar el calendario
            function mostrarCalendario(month, year) {
                const monthName = document.getElementById('month-name');
                const calendarDays = document.getElementById('calendar-days');
                const firstDay = new Date(year, month, 1).getDay();
                const daysInMonth = new Date(year, month + 1, 0).getDate();

                monthName.textContent = new Date(year, month).toLocaleDateString('es-ES', { month: 'long', year: 'numeric' });

                calendarDays.innerHTML = '';

                // Agregar espacios vacíos para los días anteriores al primer día del mes
                for (let i = 0; i < firstDay; i++) {
                    calendarDays.innerHTML += '<div></div>';
                }

                // Generar los días del mes
                for (let day = 1; day <= daysInMonth; day++) {
                    const dayDiv = document.createElement('div');
                    dayDiv.textContent = day;
                    dayDiv.classList.add('calendar-day');
                    dayDiv.addEventListener('click', function() {
                        mostrarGastosPorFecha(year, month + 1, day); // Llamamos a la función para mostrar los gastos
                    });
                    calendarDays.appendChild(dayDiv);
                }
            }

            // Función para mostrar los gastos de la fecha seleccionada
            function mostrarGastosPorFecha(year, month, day) {
                const gastosList = document.getElementById('gastos-list-ul');
                const allGastos = document.querySelectorAll('.element-spenses');
                const selectedDate = `${year}-${month.toString().padStart(2, '0')}-${day.toString().padStart(2, '0')}`;

                // Ocultar todos los gastos y solo mostrar los que coinciden con la fecha seleccionada
                allGastos.forEach(function(gasto) {
                    const gastoFecha = gasto.getAttribute('data-fecha');
                    if (gastoFecha === selectedDate) {
                        gasto.style.display = 'flex'; // Mostrar el gasto de la fecha seleccionada
                    } else {
                        gasto.style.display = 'none'; // Ocultar el gasto que no corresponde
                    }
                });
            }

            // Función para restablecer el filtro de fecha
            function borrarFiltro() {
                // Mostrar todos los gastos
                const allGastos = document.querySelectorAll('.element-spenses');
                allGastos.forEach(function(gasto) {
                    gasto.style.display = 'flex'; // Mostrar todos los gastos
                });

                // Mostrar todos los días del calendario
                const calendarDays = document.getElementById('calendar-days');
                const daysInMonth = new Date(currentYear, currentMonth + 1, 0).getDate();
                const calendarDaysDivs = calendarDays.querySelectorAll('.calendar-day');
                calendarDaysDivs.forEach(function(dayDiv) {
                    dayDiv.style.display = 'inline-block'; // Mostrar todos los días del mes
                });
            }

            // Agregar el evento para el botón de borrar filtro
            document.getElementById('clear-filter').addEventListener('click', function() {
                borrarFiltro(); // Llamar la función para borrar el filtro
            });

            // Obtener la fecha actual
            const currentDate = new Date();
            let currentMonth = currentDate.getMonth(); // Mes actual
            let currentYear = currentDate.getFullYear(); // Año actual

            mostrarCalendario(currentMonth, currentYear);

            document.getElementById('prev-month').addEventListener('click', function() {
                if (currentMonth === 0) {
                    currentMonth = 11;
                    currentYear--;
                } else {
                    currentMonth--;
                }
                mostrarCalendario(currentMonth, currentYear);
            });

            document.getElementById('next-month').addEventListener('click', function() {
                if (currentMonth === 11) {
                    currentMonth = 0;
                    currentYear++;
                } else {
                    currentMonth++;
                }
                mostrarCalendario(currentMonth, currentYear);
            });
        });

    </script>
</body>
</html>
