<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'home.css' %}?v=2">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container-main">
        <div class="container-1">
            <div class="container-graf">a</div>
            <div class="container-dates">a</div>
        </div>
    
        <div class="container-2">
            <!--########################################### GASTOS FIGMA #####################################################-->
            <div class="container-spenses">
                <div class="spenses-title">
                    <h1>Gastos</h1>
                    <button>+</button>
                </div>
    
                <ul class="list-spenses">
                    <!-- Mapeo de los gastos -->
                    {% for gasto in gastos %}
                    <li class="element-spenses">
                        <div class="title-hour-spenses">
                            <label>{{  gasto.titulo }}</label>
                            <span>{{ gasto.fecha|date:"d/m/Y H:i A" }}</span>
                        </div>
                        <p>{{ gasto.descripcion }}</p>
                        <h3>${{ gasto.monto|floatformat:0 }}</h3>
                    </li>
                    {% empty %}
                    <li>No tienes gastos registrados.</li>
                    {% endfor %}
                </ul>
            </div>

            <!--############################################ PRESUPUESTOS FIGMA ###############################################-->
            <ul class="container-categories">
                <!-- Mapeo de los presupuestos -->
                {% for presupuesto in presupuestos %}
                <li class="container-category">
                    <div>
                        <span>Presupuesto</span>
                        <span>{{ presupuesto.categoria.nombre_categoria}}</span>
                    </div>
                    <h3>${{ presupuesto.limite_presupuesto|floatformat:0 }}</h3>
                </li>
                {% empty %}
                <li>No tienes presupuestos registrados.</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>
