<!-- nuevoPresupuesto.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Presupuesto</title>
    {% load static %}
</head>
<body>
    <h2>Crear Nuevo Presupuesto</h2>
    <form method="post" action="{% url 'nuevoPresupuesto' %}">
        {% csrf_token %}
        
        <!-- Selección de Categoría -->
        <label for="categoria">Categoría:</label>
        <select name="categoria" id="categoria" required>
            {% for categoria in categorias %}
                <option value="{{ categoria.id_categoria }}">{{ categoria.nombre_categoria }}</option>
            {% endfor %}
        </select>
        
        <!-- Límite de Presupuesto -->
        <label for="limite_presupuesto">Límite de Presupuesto:</label>
        <input type="number" name="limite_presupuesto" id="limite_presupuesto" step="0.01" required>
        
        <!-- Fecha de Inicio -->
        <label for="fecha_inicio">Fecha de Inicio:</label>
        <input type="date" name="fecha_inicio" id="fecha_inicio" required>
        
        <!-- Fecha de Fin -->
        <label for="fecha_fin">Fecha de Fin:</label>
        <input type="date" name="fecha_fin" id="fecha_fin" required>
        
        <button type="submit">Crear Presupuesto</button>
    </form>
    <button><a href="{% url 'eliminar-presupuesto' %}">Elimnar Presupuestos</a></button>
</body>
</html>
