/* Estilo global */
body {
    background-color: #3D3D3D !important;
    width: 100vw !important;
    height: 100vh !important;
    margin: 0 !important;
    color: aliceblue !important;
    font-family: "Montserrat", sans-serif !important;
    font-optical-sizing: auto !important;
    font-style: normal !important;
}

label {
    cursor: default;
    text-align: center;
    display: block;
}

/* Estilo principal del contenedor */
.container-main {
    top: 25vh;
    position: relative;
    margin: auto;
    background-color: #121212 !important;
    height: 25vh !important;
    width: 32vw !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    border-radius: 30px !important;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25) !important;
    padding: 20px !important;
    transition: all 0.3s ease !important;
}

/* Estilo para el título */
.title {
    color: white !important;
    font-size: 24px !important;
    font-weight: bold !important;
    margin-bottom: 20px !important;
}

/* Estilo para el formulario */
.container-main form {
    display: flex !important;
    width: 85% !important;
    height: 70% !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
}

/* Estilo para select/categorías */
.categorias {
    width: 100% !important;
    margin: 1% 2% 1% 2% !important;
    height: 4.3vh !important;
    border-radius: 30px !important;
    border: 2px solid #58446b !important;
    background-color: #2C2C2C !important;
    color: #ffffff !important;
    font-size: 16px !important;
    padding-left: 12px !important;
    transition: all 0.3s ease !important;
    box-sizing: content-box !important;
}

/* Efecto cuando el select está en foco */
.categorias:focus {
    border-color: #9B59B6 !important;
    background-color: #333 !important;
    box-shadow: 0 0 8px rgba(155, 89, 182, 0.7) !important;
    outline: none !important;
    box-sizing: content-box !important;
}

/* Estilo para los botones principales */
.container-main form button {
    width: 100% !important;
    margin: 1% 2% 1% 2% !important;
    height: 4.5vh !important;
    padding: 0 !important;
    border-radius: 30px !important;
    background-color: #EB5757 !important;
    color: white !important;
    font-size: 18px !important;
    font-weight: bold !important;
    border: none !important;
    cursor: pointer !important;
    transition: background-color 0.3s ease, transform 0.3s ease !important;
    text-align: center !important;
    text-decoration: none !important;
}

/* Efecto hover en el botón */
.container-main form button:hover {
    background-color: #a83e3e !important;
    transform: scale(1.05) !important;
}

/* Efecto focus en el botón */
.container-main form button:focus {
    outline: none !important;
    box-shadow: 0 0 8px rgba(155, 89, 182, 0.7) !important;
}
