body {
    background-color: #3D3D3D;
    width: 100%;
    height: 100%;
    margin: 0;
    color: aliceblue !important;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.container-main{
    width: 1102px;
    height: 908px;
    position: relative;
    top: 50%;
    margin: auto;
}

.container-1 {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container-2 {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 621px;
}

/* agregando estilo al grafico  */
.container-graf {
    width: 623px !important;
    height: 270px;
    background-image: url('/static/images/grafic.svg');
    border-radius: 30px;
    box-shadow: 0px 4px 4px #00000025;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.graf-points {
    width: 100%;
    height: 20px;
}

.graf-item {
    text-align: center;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.graf-bar-container {
    position: relative;
    width: 30px;
    height: 190px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}

.graf-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.presupuesto-bar {
    background-color: #20C997; /* Verde para el presupuesto */
    width: 10px;
}

.gasto-bar {
    background-color: #EB5757; /* Rojo para el gasto */
    width: 10px;
    z-index: 1;
}

.graf-info {
    font-size: xx-small;
}
/* agregando estilo al grafico  */

/* agregando estilo al dates */
.container-dates {
    width: 455px;
    height: 270px;
    background-color: #121212;
    margin-left: 20px;
    border-radius: 30px;
    box-shadow: 0px 4px 4px #00000025;
}

.calendar {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.calendar-header {
    padding: 18px 10px 0px 10px;
    font-weight: bold;
    font-size: medium;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.month-button {
    background-color: #3D3D3D;
    color: white;
    border: none;
    border-radius: 25px;
    font-weight: 600;
    transition: 0.5s;
    height: 30px;
}

.month-button:hover {
    transition: 0.5s;
    background-color: #443AD8;
}

.btn-clear-filter {
    background: #443AD8;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 25px;
    font-weight: 600;
    transition: 0.5s;
}

.btn-clear-filter:hover {
    transition: 0.5s;
    background: #BB86FC;
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 4px;
    margin-top: 2px;
}

.calendar-days div {
    width: auto;
    padding: 10px 5px;
    border-radius: 30px;
    cursor: pointer;
    font-size: medium;
    transition: 0.5s;
}

.calendar-days div:hover {
    transition: 0.5s;
    background-color: #BB86FC;
}


/* agregando estilo al dates */

.container-list-spenses {
    width: auto;
    height: 623px;
    margin-top: 27px;
}

.container-spenses {
    width: 623px;
    height: 621px;
    background-color: #121212;
    margin-right: 20px;
    margin-top: 27px;
    border-radius: 30px !important;
    box-shadow: 0px 4px 4px #00000025;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    overflow-y: scroll;
}

.container-spenses::-webkit-scrollbar {
    width: 0px; /* Ancho de la barra de desplazamiento */
}

.container-spenses h1 {
    font-size: xxx-large;
    margin: 0 25% 0 10%;
    font-weight: 700;
}

.container-spenses button {
    width: 6vw;
    height: 6vh;
    font-size: xx-large;
    background-color: #443AD8;
    border: none;
    color: aliceblue;
    margin-top: 4%;
    cursor: pointer;
    border-radius: 15px;
    text-align: center;
}

.link1 {
    background-color: #443AD8;
    border: none;
    color: aliceblue;
    border-radius: 15px 0px 0px 15px;
}

.link2 {
    background-color: #443AD8;
    border: none;
    color: aliceblue;
    border-radius: 0px 15px 15px 0px;
}

.spenses-title {
    display: flex;
    margin: 0;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 8%;
}

.list-spenses {
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 30px;
    box-shadow: 0px 4px 4px #00000025;
    overflow-y: scroll;
}

.list-spenses::-webkit-scrollbar {
    width: 0px; /* Ancho de la barra de desplazamiento */
}

.element-spenses {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 553px;
    height: 55px;
    margin-top: 44px;
    margin-right: auto;
    margin-left: auto;
}

.element-spenses p {
    font-size: small;
    text-align: justify;
    margin: 0;
    width: 29.5vw;
    word-wrap: break-word;
    max-width: 250px;
    padding: 0px 20px 0px 20px;
}

.element-spenses h3 {
    margin: auto;
    width: 12vw;
    text-align: center;
}

.title-hour-spenses {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 12vw;
}

.title-hour-spenses label{
    font-size: x-large;
}

.title-hour-spenses span{
    font-size: x-small;
    color: #4F4F4F;
    font-weight: bold;
}

.container-categories {
    width: 455px;
    height: 623px;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
}

.container-categories::-webkit-scrollbar {
    width: 0px; /* Ancho de la barra de desplazamiento */
    height: 0px; /* Ancho de la barra de desplazamiento */
}

.container-category {
    width: 455px;
    height: 180px;
    background-color: #121212;
    border-radius: 30px;
    position: relative;
    margin-bottom: 27px;
    display: grid;
}

.container-category div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.container-category div span{
    font-size: x-large;
}

.container-category h3{
    text-align: center;
    justify-self: center;
    font-size: xxx-large;
    margin: 0;
    color: #AAAAAA;
}